/* src/global.css */
body {
  font-family:
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Or your preferred font */
  background-color: #141414; /* Netflix dark background */
  color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

button {
  cursor: pointer;
}
